/* 달력 전체 컨테이너 */
.searchCalendar {
  width: 800px;
  max-width: 100%;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 20px;
}

/* 달력 내비게이션 */
.searchCalendar .react-calendar__navigation {
  display: flex;
  margin-bottom: 20px;
}

.searchCalendar .react-calendar__navigation button {
  min-width: 44px;
  background: none;
  border: none;
  font-size: 16px;
  color: #333;
  padding: 5px;
  cursor: pointer;
}

/* 요일 헤더 */
.searchCalendar .react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #666;
}

/* 날짜 타일 기본 스타일 */
.searchCalendar .react-calendar__tile {
  max-width: 100%;
  padding: 10px;
  background: none;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* hover 효과 */
.searchCalendar .react-calendar__tile:enabled:hover {
  background-color: #f8f8f8;
  border-radius: none !important;
}

/* 오늘 날짜 */
.searchCalendar .react-calendar__tile--now {
  background: #ffeb3b33;
  font-weight: bold;
  color: inherit;
}

/* 체크인/체크아웃 날짜 범위 스타일 */

/* 주말 색상 */
.searchCalendar .react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.searchCalendar .react-calendar__tile--active {
  background-color: #6f8c8d !important;
}

.searchCalendar .react-calendar__tile--rangeStart,
.searchCalendar .react-calendar__tile--rangeEnd {
  background: #394a4b !important;
  color: white !important;
  border-radius: 0 !important;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 1000px) {
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .react-calendar__month-view {
    width: 100%;
    margin: 0;
  }
}

/* 이전/다음 달의 날짜 숨기기 */
.searchCalendar .react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
  pointer-events: none;
}

/* 각 달력의 타일 크기 조정 (선택사항) */
.react-calendar--doubleView .react-calendar__month-view__days__day {
  padding: 5px; /* 날짜 타일 크기 조정 */
}
